/* GENERAL RULES  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: #a0a0a0;
}

/* UTILITY  */

.container {
    max-width: 1200px;
    margin: 0 auto;

}

.mb-40 {
    margin-bottom: 40px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;

}

/* DEBUG  */

.debug-box{
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
}

/* HEADER  */

.brand {
    display: block;
}

.brand img {
    width: 165px;
}

.menu > li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 18px;
    
}

.menu > li:last-child {
    margin: 0;
}

.menu > li > a {
    color: #a0a0a0;
    text-decoration: none;
}

.menu > li > a:hover {
    color: #000;
}

/* MAIN CONTENT */

/* HERO */

.hero {
    width: 100%;
    height: 435px;
    background-image: url(../img/banner.jpg);
    background-position: center;
    border-radius: 15px;
    position: relative;
} 

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.25);
    border-radius: 15px;
    left: 0;
}

.hero-txt{
    
    width: 50%;
    color: white;
    position:absolute;
    left: 50px;
    bottom: 50px;
    font-size: 18px;
}

.hero-txt h2 {
    font-weight: 400;
    font-size: 30px;
}





/* MAIN  */



.main-header {
    margin-bottom: 30px;
    font-size: 18px;
}

.main-header h1 {
    font-size: 40px;
    color: #000;
}

.main-container h3 {
    color: #000;
    font-weight: 400;
    margin-bottom: 10px;
}

.main-content {
    padding-right: 20px;
    padding-left: 20px;
    width: 60%;
    float: left;
}

.sidebar {
    float: left;
    width: 20%;
}

.banner {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
}

.sidebar.left .banner {
    background-image: url(../img/img-1.jpg);
    
}

.main-content .banner {
    background-image: url(../img/banner-2.jpg)
}

.sidebar.right .banner {
    background-image: url(../img/img-3.jpg);
    
}


/* FOOTER  */

footer{
    line-height: 100px;
    margin-top: 10px;
    text-align: center;
    vertical-align: top;
    color: #000;
    font-size: 18px;
}

footer::after {
    content: "\2665";
    color: red;
    font-size: 30px;
}





